* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

/* header */
.header {
    background-image: url('images/donate-new.png');
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
}

.header h1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
}

.header .header-title {
    padding-top: 170px;
}

.header h1,
p {
    color: #FFFFFF;
}

.header p {


    line-height: 28px;
    font-weight: 400;
    font-size: 18px;

}

.header .first-p {
    padding-top: 20px;
}

/* button */
.btn-primary {
    margin-top: 30px;
    padding: 16px 20px;
    height: 56px;
    background: #FF5959;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-weight: 600;
    font-size: 20px;

}


/* Section Title */

.section-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;

}

/* Donate-today section and our donate plan */
.Donate-today,
.Our-Donate-Plan {
    text-align: center;
    padding-top: 130px;
}

.Donate-today p,
.Our-Donate-Plan p {
    color: #707070;
}

section .first-p {
    padding-top: 20px;
}

.amount-of-taka {
    display: flex;
    gap: 22px;
    padding: 50px 0;
    justify-content: center;

}

.amount-of-taka .taka {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #707070;
    background: #FAFAFA;
    border-radius: 5px;
    padding: 40px 22px;
}

.taka:hover {
    background-color: #f5b7b7;
}

.input {
    color: #B3B3B3;
    font-family: 'Poppins' !important;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    height: 40px;
    width: 700px;
    outline: 0;
    border-width: 0 0 1px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.donate-plan {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.Our-Donate-Plan .donate-plan .plan {
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    text-align: left;
    margin-top: 50px;
    padding: 60px 0 30px 23px;
    width: 300px;
}

.Our-Donate-Plan .donate-plan .plan-alt {
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}

.Our-Donate-Plan .donate-plan .plan p {
    padding: 15px 25px 40px 0;

}

.Our-Donate-Plan .donate-plan .plan .plan-title {
    margin-top: 32px;
}

/* Contribute-style */
.Contribute-style {
    display: flex;
    gap: 95px;
    justify-content: center;
}

.how-to-contribute .Contribute-style p,
h3 {
    color: #707070;
    margin-bottom: 30px;

}

.Contribute-style img {
    width: 456px;
    height: 477px;
    margin-top: 130px;

}

.contribute-description {
    text-align: left;
    width: 500px;
    margin-top: 150px;
}

/* update */




.updates {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 50px;
}

.updates h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
}

.updates p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;

}

/* form */
.form {
    margin: auto;
    display: flex;
    justify-content: center;
    background: #FFF4D6;
    width: 809px;
    height: 200px;
}

form input[type='email'] {
    width: 432px;
    height: 50px;
    border-radius: 5px 0px 0px 5px;
    border-style: none;
    background: #D9D9D9;
    padding-left: 15px;
    margin-top: 75px;

}

form input[type='submit'] {
    border-radius: 0px 5px 5px 0px;
    background: #FF5959;
    width: 157px;
    border-style: none;
    height: 50px;


}

/* footer */

.footer {
    margin-top: 130px;
    background: #0B0D17;
    display: block;
    text-align: center;

}

.footer h3 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #FF5959;
    padding-top: 45px;
}

.footer p {
    color: #D9DBE1;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 42px;
}